# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/

# IDE
.idea/
.vscode/

# OS
Thumbs.db

# Project specific
docs/
src/
CONTRIBUTING.md
LICENSE
TUTORIAL.md
ABOUT_LOVETREE.md
jest.config.js
tailwind.config.js
package-lock.json
package.json 